<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/483e56b8-38f7-4d76-8e59-10b18956393f/resourcegroups/Site/providers/Microsoft.Web/sites/NewAmsterdamHospitalSite</ResourceId>
    <ResourceGroup>Site</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://newamsterdamhospitalsite.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>newamsterdamhospitalsite.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>NewAmsterdamHospitalSite</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$NewAmsterdamHospitalSite</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:newamsterdamhospitalsitedbserver.database.windows.net,1433;Initial Catalog=NewAmsterdamHospitalSite_db;User ID=adminhost@newamsterdamhospitalsitedbserver;Password=123456zxC" Name="Data Source=tcp:newamsterdamhospitalsitedbserver.database.windows.net,1433;Initial Catalog=NewAmsterdamHospitalSite_db;User Id=adminhost@newamsterdamhospitalsitedbserver;Password=123456zxC;MultipleActiveResultSets=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="NewAmsterdamHospital.Models.UserContext, NewAmsterdamHospital" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:newamsterdamhospitalsitedbserver.database.windows.net,1433;Initial Catalog=NewAmsterdamHospitalSite_db;User Id=adminhost@newamsterdamhospitalsitedbserver;Password=123456zxC;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>