@model NewAmsterdamHospital.ViewModels.NumberOfUsers
@{
    ViewBag.Title = "_numberOfUserPartial";
}



<div class="form-group">
    <div class="col-md-10">
        Number of customer:  @Model.NumberOfCustomer
    </div>
</div>
<div class="form-group">
    <div class="col-md-10">
        Number of doctor:  @Model.NumberOfDoctor
    </div>
</div>
