@model IEnumerable<NewAmsterdamHospital.Models.DateReception>
<select  id="date" name="Date">
    <option value="-1">Date</option>
    @foreach (var item in Model)
    {
        <option value="@item.Id">@item.DateName</option>
    }
</select>

