@model IEnumerable<NewAmsterdamHospital.Models.DateReception>
<select  id="date" name="Date" required>
    <option value="">Date</option>
    @foreach (var item in Model)
    {
        <option value="@item.Id">@item.DateName</option>
    }
</select>

